{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$bodyClasses}}{{/bodyClasses}}

{{$footerTop}}
<div class="page-notes-toggle">
	<span class="js-notes-toggle-show">Show</span> <span class="js-hidden">or</span> <span class="js-notes-toggle-hide">Hide</span>  notes
</div>
{{/footerTop}}

{{$bodyEnd}}
<div class="page-notes">
	<h2 class="heading-small">Page notes</h2>
	{{$pageNotes}}{{/pageNotes}}
</div>

  {{>includes/scripts}}
{{/bodyEnd}}

{{/govuk_template}}
